mysite/schema.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

<xs:element name="interests">
  <xs:complexType>
   <xs:complexContent>      
   	<xs:element name="area">
     <xs:complexType>
       <xs:complexContent>
          <xs:element name="faculty">
            <xs:complexType>
              <xs:sequence>
              	<xs:element name="student" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>	
          </xs:element>	
       </xs:complexContent>	
     </xs:complexType>	
    </xs:element>
   </xs:complexContent>
  </xs:complexType>
</xs:element>
</xs:schema>